
@{
    ViewData["Title"] = "PaymentDetailHistory";
    string[] PaymentHeader = new string[] { "STT","a", "Tên sản phẩm", "Giá (VNĐ)", "Số Lượng", "Tổng (VNĐ)" };
}
@model List<PaymentDetailViewModel>
<style>
    .thead-dark th {
    background-color: black;
    color: white;
}
<div class="section">
    <!-- container -->
    
                <h2>Lịch sử thanh toán</h2>
               
        
</div>
