<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcommerceStore</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/app.css" />
    <link type="text/css" rel="stylesheet" href="~/css/grid.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme.css" />
</head>
<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <div class="sidebar-user-name">
                    <h2>anh tuat</h2>
                </div>
            </div>
            <button class="btn btn-outline">
                <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Revenue","Admin")">
                    <i class="fas fa-donate"></i>
                    <h4>Quản lí doanh thu</h4>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Account","Admin")">
                    <i class="fas fa-user"></i>
                    <h4>Quản lí tài khoản</h4>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AdminProduct","Admin")">
                    <i class="fas fa-tablet-alt"></i>
                    <h4>Quản lí sản phẩm</h4>
                </a>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>